
<div class="home-content">
   <h1>Angular Frontend Developer</h1>
<p class="fw-bolder">
   Hi, My name is <span class="rounded-pill fw-bold p-1 text-white">Ahmed Mohamed Elkholy</span> 
   Full-Stack Web Developer with good knowledge in Node.js and Angular,
    seeking a position in a stable company to contribute skills and drive impactful results.

</p>


<div class="btn btn-outline-dark">
   <a class="h6 fw-bolder" target="_blank" href="assets/Ahmed Elkholy frontend developper.pdf">
      <i class="fa-solid fa-download fa-1x"></i> Download CV</a>
</div>

</div>



